.container {
  width: 100%;
}
.input_container {
  width: 100%;

  position: relative;

  & input {
    width: 100%;
    height: 40px;
    padding-right: 20px;

    border-bottom: 2px solid var(--strokeColor1);

    &:active, &:focus {
      border-color: var(--primaryColor1);
    }

    &[aria-invalid=true] {
      border-color: var(--errorColor1);
    }

    &[data-accept=true] {
      border-color: var(--acceptColor1);
    }
  }
}
.btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.error {
  padding-top: 5px;
  
  color: var(--errorColor1);
}